body{
    background-color: #FFD771;
    margin: 0;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    font-size: 30px;
    color: #5c2f00;
    text-align: center;
    font-family: 'Short Stack', cursive;
}
h1{
    background-color: white;
    padding: 30px;
}

p{
    font-size: 16px;
    color: #A57807;
    text-align: center;
}

p img{
    max-width: 60%;
}

a{
    font-size: 12px;
    color: #5c2f00;
}
a:hover{
    color: white;
    background-color: darkgoldenrod;
}

.first{
    font-size: 75px;
    color: saddlebrown;
}

.small{
    font-size: 20px;
}
li{
    font-size: 12px;
    color: #A57807;
    text-align: center;
}
