body{
    background-color: #ffd979;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Short Stack', Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke; 
}

h1{
    font-size: 80px;
}

h2{
    background-color: rgb(52, 90, 109);
    font-size: 30px;
    text-align: left;
    padding-bottom: 52px;
}

h3{
    color: whitesmoke;
    border-width: 5px;
    border-color: rgb(52, 90, 109);
    max-width: max-content;
    margin: auto;
}

p{
    font-size: 14px;
    color: #A57807;
    text-align: center;
    max-width: 850px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

p img{
    max-width: 400px;
}

a{
    font-size: 12px;
    color: #5c2f00;
}

a:hover{
    color: white;
    background-color: rgb(52, 90, 109);
}

.hover-yellow:hover{
    color: #ffd979;
    background-color: rgb(101, 164, 196);
}

li{
    font-size: 14px;
    color: #A57807;
    text-align: center;
    max-width: 850px;
    margin: auto;
}

.main{
    border: 15px solid rgb(52, 90, 109);
    background-color: rgb(52, 90, 109);
}

.sub-main{
    border: 15px solid rgb(52, 90, 109);
    background-color: rgb(52, 90, 109);
}

.top-bar{
    background-color: rgb(52, 90, 109);
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
    
}

.bar-item{
    background-color: rgb(52, 90, 109);
    max-width: max-content;
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}

.left-bar{
    position: static;
    left: 0px;
    width: 460px;
    margin: auto;
}

.right-bar{
    position: static;
    width: 460px;
    vertical-align:top
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    max-width: 1000px;
}

.grid-container > div {
    padding: 10px;
}